@use "../../../assets/scss/variables" as variables;
@use "../../../assets/scss/functions" as functions;
@use "../../../assets/scss/mixins" as mixins;

main {
  padding: 19em 0;
  .todo-list {
    width: functions.width(20%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: variables.$light-color;
    padding: variables.$primary-size;
    position: absolute;
    @include mixins.transform;
    border-radius: functions.border-radius(2.5px, 2);

    .header {
      @include mixins.display-flex(space-between);
      #currentDate {
        @include mixins.display-flex(space-between);
        color: variables.$grey-color;
        h2 {
          font-size: 3em;
          margin-right: 0.2em;
          &[dir="rtl"] {
            margin: 0 0 0 0.2em;
          }
        }
        div {
          display: flex;
          flex-direction: column;
          span {
            line-height: functions.height(3em);
            text-align: center;
          }
        }
      }
      h3 {
        color: variables.$grey-color;
        text-transform: uppercase;
      }
    }

    .content {
      padding: variables.$primary-size 0;
      ul {
        li {
          @include mixins.display-flex(space-between);
          flex-direction: row-reverse;
          margin-bottom: 1em;
          .actions {
            display: flex;
            button {
              background: none;
              border: none;
              cursor: pointer;
              &::before {
                @include mixins.icons(1.5em);
                display: block;
              }
              &[role="update"] {
                &::before {
                  content: "\f044";
                  color: variables.$blue-color;
                  margin-right: 3px !important;
                }
                &[dir="rtl"] {
                  &::before {
                    margin: 0 0 0 3px;
                  }
                }
              }
              &[role="delete"] {
                &::before {
                  content: "\f1f8";
                  color: variables.$blue-color;
                }
              }
            }
            + label {
              color: variables.$dark-grey-color;
              font-weight: 600;
              width: functions.width(10em);
            }
          }
        }
      }
    }

    .footer {
      position: relative;
      display: flex;
      justify-content: center;
      button {
        position: absolute;
        height: functions.height(8em);
        width: variables.$secondary-size;
        background: variables.$green-color;
        border: none;
        @include mixins.display-flex(center);
        @include mixins.border-radius;
        &::before {
          content: "\2b";
          @include mixins.icons(3em);
          color: variables.$secondary-color;
        }
        &:hover {
          background-color: variables.$secondary-color;
          &::before {
            color: variables.$green-color;
          }
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .todo-list {
    width: functions.width(40%) !important;
    @include mixins.responsive-todo-list-header;
  }
}

/* Extra Small Devices, Phones */
@media (min-width: 320px) and (max-width: 480px) {
  .todo-list {
    width: functions.width(40%) !important;
    @include mixins.responsive-todo-list-header;
  }
}

/* Small Devices, Tablets */
@media (min-width: 480px) and (max-width: 768px) {
  .todo-list {
    width: functions.width(30%) !important;
    @include mixins.responsive-todo-list-header;
  }
}

/* Medium Devices, Desktops */
@media (min-width: 768px) and (max-width: 992px) {
  .todo-list {
    @include mixins.responsive-todo-list-header;
  }
}
