@use "../../../assets/scss/fonts";
@use "../../../assets/scss/variables" as variables;
@use "../../../assets/scss/functions" as functions;
@use "../../../assets/scss/mixins" as mixins;

main {
  padding: 19em 0;
  .todo-list {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: variables.$light-color;
    padding: variables.$primary-size;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

    .header {
      @include mixins.display-flex;
      justify-content: space-between;
      #currentDate {
        @include mixins.display-flex;
        justify-content: space-between;
        color: variables.$grey-color;
        h2 {
          font-size: 3em;
          margin-right: 0.2em;
          &[dir="rtl"] {
            margin: 0 0 0 0.2em;
          }
        }
        div {
          display: flex;
          flex-direction: column;
          span {
            line-height: 1.5em;
            text-align: center;
          }
        }
      }
      h3 {
        color: variables.$grey-color;
        text-transform: uppercase;
      }
    }

    .content {
      padding: variables.$primary-size 0;
      ul {
        li {
          @include mixins.display-flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          margin-bottom: 1em;
          .actions {
            display: flex;
            button {
              background: none;
              border: none;
              cursor: pointer;
              &::before {
                font-family: "FontAwesome";
                display: block;
                font-size: 1.5em;
              }
              &[role="update"] {
                &::before {
                  content: "\f044";
                  color: variables.$blue-color;
                  margin-right: 3px !important;
                }
                &[dir="rtl"] {
                  &::before {
                    margin: 0 0 0 3px;
                  }
                }
              }
              &[role="delete"] {
                &::before {
                  content: "\f1f8";
                  color: variables.$blue-color;
                }
              }

              + label {
                color: variables.$dark-grey-color;
                font-weight: 600;
                width: 20em;
              }
            }
          }
        }
      }
    }

    .footer {
      position: relative;
      display: flex;
      justify-content: center;
      button {
        cursor: pointer;
        position: absolute;
        height: variables.$secondary-size;
        width: variables.$secondary-size;
        padding-left: 1rem;
        padding-right: 1rem;
        background: variables.$green-color;
        border: none;
        border-radius: 50%;
        &::before {
          content: "\2b";
          font-family: "FontAwesome";
          font-size: 3em;
          color: variables.$secondary-color;
          font-weight: bold;
        }
        &:hover {
          background-color: variables.$secondary-color;
          &::before {
            color: variables.$green-color;
          }
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .todo-list {
    width: 80% !important;
    @include mixins.responsive-todo-list-header;
  }
}

/* Extra Small Devices, Phones */
@media (min-width: 320px) and (max-width: 480px) {
  .todo-list {
    width: 80% !important;
    @include mixins.responsive-todo-list-header;
  }
}

/* Small Devices, Tablets */
@media (min-width: 480px) and (max-width: 768px) {
  .todo-list {
    width: 60% !important;
    @include mixins.responsive-todo-list-header;
  }
}

/* Medium Devices, Desktops */
@media (min-width: 768px) and (max-width: 992px) {
  .todo-list {
    width: 40% !important;
    @include mixins.responsive-todo-list-header;
  }
}
