@use "variables" as variables;
@use "functions" as functions;

@mixin icons($font-size) {
  font-family: "FontAwesome";
  font-size: $font-size;
}

@mixin display-flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin transform {
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin border-radius {
  border-radius: functions.border-radius(25%, 2);
  cursor: pointer;
}

@mixin responsive-todo-list-header {
  .header {
    flex-direction: column;
    h3 {
      font-size: 1em;
    }
  }
}

@mixin responsive-header {
  background: variables.$blue-color !important;
  padding: 0 0.5em !important;
  margin: 0 !important;
}

@mixin responsive-img-style {
  background: variables.$light-color !important;
  padding: 5px !important;
  img {
    filter: saturate(0.5) !important;
  }
}
