@use "../../../assets/scss/variables" as variables;
@use "../../../assets/scss/functions" as functions;
@use "../../../assets/scss/mixins" as mixins;

header {
  height: functions.height(16em);
  position: relative;
  display: grid;
  align-items: center;
  background: linear-gradient(
    -45deg,
    variables.$primary-color 50%,
    variables.$secondary-color 50%
  );

  .sub-header {
    @include mixins.display-flex(space-between);
    background: linear-gradient(
      -45deg,
      variables.$light-color 35%,
      transparent 42%,
      variables.$blue-color 36%
    );
    height: functions.height(10em);
    padding: 0 variables.$primary-size;
    margin-right: variables.$primary-size;
    &[dir="rtl"] {
      direction: ltr;
    }
    > div {
      &:nth-child(1) {
        margin: 0 auto;
        h3 {
          color: variables.$light-color;
          text-align: end;
          margin: 0;
        }
      }
      &:nth-child(2) {
        @include mixins.display-flex(center);
        .img-style {
          background: variables.$blue-color;
          display: flex;
          height: auto;
          padding: 10px;
          border-radius: functions.border-radius(2.5px, 2);
          width: variables.$primary-size;
          img {
            width: functions.width(50%);
            filter: brightness(0) invert(1);
          }
        }
        h3 {
          color: variables.$secondary-color;
          margin-right: 10px;
        }
      }
    }
  }

  > img {
    top: variables.$secondary-size;
    left: variables.$secondary-size;
    position: absolute;
  }
}

.lang {
  display: flex;
  justify-content: flex-end;
  padding: 0 variables.$primary-size;
  &[dir="rtl"] {
    justify-content: start;
  }
  select {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    padding: 1em 1.5em;
    appearance: none;
    cursor: pointer;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  header {
    .sub-header {
      @include mixins.responsive-header;
      padding: 0 0.5em !important;
      > div {
        &:nth-child(2) {
          h3 {
            margin-right: 0.2em !important;
          }
        }
      }
      h3 {
        font-size: 0.7em;
      }
      .img-style {
        @include mixins.responsive-img-style;
        width: 1.5em !important;
      }
    }
    > img {
      display: none;
    }
  }
  .lang {
    padding: 0em variables.$primary-size 6em 0 !important;
  }
}

/* Extra Small Devices, Phones */
@media (min-width: 320px) and (max-width: 480px) {
  header {
    .sub-header {
      @include mixins.responsive-header;
      padding: 0 1em !important;
      h3 {
        font-size: 0.7em;
      }
      .img-style {
        @include mixins.responsive-img-style;
      }
    }
    > img {
      display: none;
    }
  }
  .lang {
    margin: variables.$primary-size 0;
  }
}

/* Small Devices, Tablets */
@media (min-width: 480px) and (max-width: 768px) {
  header {
    .sub-header {
      @include mixins.responsive-header;
      h3 {
        font-size: 1em;
      }
      .img-style {
        @include mixins.responsive-img-style;
      }
    }
    > img {
      left: variables.$primary-size !important;
      top: 5em !important;
      width: functions.width(variables.$primary-size);
    }
  }
}
