<header>
  <div class="sub-header" dir="rtl">
    <div>
      <h3>نظام إدارة المهام</h3>
      <h3>Task Management System</h3>
    </div>
    <div>
      <h3>إدارة الموظفين</h3>
      <div class="img-style">
        <img src="assets/images/Logo_of_Twitter.svg" />
      </div>
    </div>
  </div>
  <img src="assets/images/to-do-list.png" />
</header>

<div class="lang" dir="rtl">
  <select id="switch-lang" (change)="handleSwitchLang($event)">
    <option value="en">English</option>
    <option value="ar">Arabic</option>
  </select>
</div>
