@use "../../../assets/scss/variables" as variables;
@use "../../../assets/scss/functions" as functions;
@use "../../../assets/scss/mixins" as mixins;

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  @include mixins.display-flex(center);
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);

  .modal-box {
    border: none !important;
    border-radius: functions.border-radius(variables.$primary-size, 0.2);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    background: variables.$light-color;
    width: functions.width(15em);
    height: functions.height(30em);;
    position: fixed;
    top: 50%;
    @include mixins.transform;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .modal-header {
      @include mixins.display-flex(space-between);
      button {
        background: none;
        border: none;
        &::before {
          content: "\f00d";
          cursor: pointer;
          @include mixins.icons(variables.$primary-size);
          color: variables.$light-grey-color;
        }
      }

      h2 {
        color: variables.$blue-color;
        text-transform: capitalize;
      }
    }

    .modal-content {
      form {
        input {
          width: functions.width(50%);
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: functions.border-radius(2px, 2);
          box-sizing: border-box;
        }
      }
    }

    .modal-actions {
      @include mixins.display-flex(space-between);
      button {
        padding: 10px 24px;
        border: none;
        color: variables.$light-color;
        font-weight: 600;
        cursor: pointer;
        &[type="button"] {
          background: variables.$dark-grey-color;
        }
        &[type="submit"] {
          background: variables.$blue-color;
          &:disabled {
            cursor: auto;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .modal-box {
    width: functions.width(7.5em) !important;
    .modal-header {
      button {
        &::before {
          font-size: 1.7em !important;
        }
      }
      h2 {
        font-size: 1.3em;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media (min-width: 320px) and (max-width: 480px) {
  .modal-box {
    width: functions.width(10em) !important;
  }
}

/* Small Devices, Tablets */
@media (min-width: 480px) and (max-width: 768px) {
  .modal-box {
    width: functions.width(12.5em) !important;
  }
}
