@use "./assets/scss/fonts";
@use "./assets/scss/variables" as variables;
@use "./assets/scss/functions" as functions;
@use "./assets/scss/mixins" as mixins;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background: variables.$primary-color;
  font-family: "Droid Arabic Kufi", serif;

  button {
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }
}
